    body {
      font-family: "Lexend", sans-serif;
    }

    header {
      background-color: rgb(0, 0, 207);
    }

    .title {
      font-size: 35px;
      font-weight: bolder;
      color: white;
      margin: 0;
    }

    .tagline {
      font-size: 18px;
      color: #ddd;
    }

    footer {
      background-color: blue;
    }

    .foot {
      font-size: 20px;
      font-weight: bold;
      color: white;
      margin: 0;
      padding: 25px 0;
    }